@model CarRentals.Model.CarRentalUser

@{
    ViewBag.Title = "Index";
}

<h2>Please Login</h2>


<div class="LoginDiv">

    @using (Html.BeginForm("Login","Login",FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.LabelFor( u => u.EmailAddress )
        @Html.TextBoxFor( u => u.EmailAddress )
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)

    }

    <input type="submit" value="Login" />
</div>

