@model  Mvc.CarRentalApplication.AccountViewModel

<div id="registerDiv">
  

   @using(Html.BeginForm("Register","Register")) 
   {
       @Html.ValidationSummary(true)

       @Html.AntiForgeryToken()
       
       @Html.LabelFor(m => m.FirstName)
       @Html.TextBoxFor(m => m.FirstName)

       @Html.LabelFor(m => m.LastName)
       @Html.TextBoxFor(m => m.LastName)


       @Html.LabelFor(m => m.PasswordText)
       @Html.PasswordFor(m => m.PasswordText)

       @Html.LabelFor(m => m.ConfirmPassword)
       @Html.PasswordFor(m => m.ConfirmPassword)

       @Html.LabelFor(m => m.EmailAddress)
       @Html.TextBoxFor(m => m.EmailAddress)     
       
       <input type="submit" value="Register" /> 
       
   }
</div>

@if (ViewBag.Message != null)
{ 
   <h3>ViewBag.Message </h3>
}

@section viewStyles{
      @Styles.Render("~/Content/ViewStyle")
    
    }
